@model library.Models.PurchaseModel
@{
    ViewBag.Title = "Аренда книги";
}

<h2>Форма для аренды книги</h2>
@using (Html.BeginForm("Buy", "Home", FormMethod.Post))
{
    @Html.Hidden("BookId", ViewBag.BookId as string)
    <table>
        <tr>
            <td><p>@Html.Label("Person","Введите имя")</p></td>
            <td>@Html.TextBox("Person","Введите имя")</td>
        </tr>
        <tr>
            <td><p>@Html.Label("Address","Введите свой адрес")</p></td>
            <td>@Html.TextBox("Address","Введите адрес")</td>
        </tr>
        <tr colspan="2">
            <td><input type="submit" value="Отправить"/></td>
            <td></td>
        </tr>
    </table>
}


@*<div>
    <form method="post">
        <input hidden="true" type="text" value=@ViewBag.BookId name="BookId"/>
        <table>
            <tr>
                <td><P>Введите свое имя</P></td>
                <td><input type="text" name="Person"/></td>
            </tr>
            <tr>
                <td><P>Введите адрес</P></td>
                <td><input type="text" name="Address"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Отправить"/></td>
            </tr>
        </table>
    </form>
</div>*@

